//GENERAL
@import "_variables.scss", "_fonts.scss";

* {
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

.section {
  padding: 75px 0;
}

.background-wrapper {
  &:nth-child(odd):not(.contacts) {
    background-color: $bg-dark;
  }
}

.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.hover-gold {
  transition: color .5s ease-in-out;
}

.hover-gold:hover {
  color: $font-gold;
}

.fill {
  transition: fill 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.description {
  font: 300 1.376rem /38.5px "Roboto", sans-serif;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 5px;
  font: 5rem /90px "Forum", sans-serif;
  border-bottom: solid 3px $dark-red;
  transition: color .8s ease-in-out;
  padding-bottom: 25px;
}

.section:nth-child(even) .heading {
  color: $font-gold;
}


//HEADER
.header-wrapper {
  background-color: $bg-dark;
}

.header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  min-height: 150px;
  color: white;
  position: relative;

  & .footer__soci {
    display: none;
    margin-top: 25px;
  }
}

.header__logo {
  text-transform: uppercase;

  &>img {
    width: 49px;
    height: 26px;
  }

  &>.main-heading {
    display: inline-block;
    padding: 0 20px;
    letter-spacing: 5px;
    font: 1.75rem /50px "Forum", sans-serif;
  }
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  text-transform: capitalize;
  font: 100 1.375rem /50px "Roboto", sans-serif;
}

.header__nav-item {
  padding: 0 27.5px;
  letter-spacing: 2px;
  transition: color .3s ease-in-out;

  &:last-child {
    padding-right: 0px;
  }

  &:first-child {
    padding-left: 0px;
  }
}

.header__burger-container {
  cursor: pointer;
  display: none;
}

.header__burger-gallery {
  display: none;
  width: 658px;
  top: calc(100% + 70px + 263px);
  left: 30px;
  position: absolute;
  transition: transform 1s ease-in-out;
  transform: translate(-500%);

  &>div {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}

//WELCOME SECTION
.welcome {
  display: block;
  min-height: 810px;
  color: white;
}

.welcome__container {
  position: relative;
}

.welcome__description {
  display: inline-block;
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding-top: 150px;

  &>span {
    display: inline-block;
    font: 300 1.75rem "Roboto", sans-serif;
    letter-spacing: 2px;
  }

  &>h2 {
    border: none;
  }
}

.welcome__button {
  margin-top: 75px;
  width: 360px;
  height: 75px;
  background-color: $dark-red;
  font: 100 1.375rem "Roboto", sans-serif;
  letter-spacing: 2px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: $font-gold;
  }
}

.welcome__slider {
  position: absolute;
  width: 1000px;
  height: 750px;
  overflow-x: hidden;
  z-index: 1;
  left: calc(100% - 1000px);
  top: 0;
}

.welcome__slider-container {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: -1000px
}

.welcome__slider-item {
  width: 1000px;
  height: 750px;
  flex-shrink: 0;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9612219887955182) 2%, rgba(0, 0, 0, 0.3393732492997199) 17%, rgba(255, 255, 255, 0) 21%);
  }
}

.welcome__slider-controls {
  position: absolute;
  display: flex;
  width: 600px;
  height: 120px;
  padding: 52px 75px;
  left: calc(100% - 600px);
  top: calc(750px - 60px);
  z-index: 2;
  background-color: black;
}

.welcome__slider-pagination {
  display: flex;
  align-items: center;
  line-height: 40px;

  &>div:first-child {
    border-right: solid 1px white;
  }
}

.welcome__slider-number {
  display: flex;
  align-items: center;
  width: 25px;
  height: 20px;
  font: 1.375rem "Roboto", sans-serif;
  padding-left: 10px;

  &:first-child {
    padding-right: 40px;
    padding-left: 0;
  }
}

.welcome__slider-current-position {
  display: flex;
}

.welcome__slider-position {
  width: 16px;
  height: 16px;
  background-color: white;
  margin-left: 25px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  &:first-child {
    margin-left: 65px;
  }

  &:hover {
    background-color: $dark-red;
  }
}

.welcome__slider-position_active {
  background-color: #D2B183;
}

.welcome__slider-buttons {
  display: flex;
  margin-left: 60px;
}

.welcome__slider-button {
  display: flex;
  align-items: center;
  height: 20px;
  cursor: pointer;

  &:hover>svg>path {
    fill: $font-gold;
  }

  &:last-child {
    margin-left: 20px;
  }
}

//VIRTUAL TOUR SECTION
.virtual-tour {
  min-height: 1265px;

  & img {
    display: block;
  }
}

.virtual-tour__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 75px;
  row-gap: 75px;
  column-gap: 60px;
}

.virtual-tour__card {
  cursor: pointer;

  &>h3 {
    text-transform: uppercase;
    font: 2rem "Forum", sans-serif;
    letter-spacing: 5px;
    padding: 25px 0px 10px;
  }

  &:hover .virtual-tour__card-description {
    width: 100%;
  }
}

.virtual-tour__card-description {
  width: 68%;
  border-top: solid 2px $dark-red;
  transition: width 1s ease-in-out;

  & span {
    display: block;
    padding: 10px 0;
    font: 100 1.375rem "Roboto", sans-serif;
  }

  & span:last-child {
    font-size: 1.125rem;
    padding: 0;
  }
}

//PICTURE EXPLORE
.picture-explore {
  min-height: 865px;
  color: white;
}

.picture-explore__wrapper {
  display: flex;
}

.picture-explore__description {
  max-width: 660px;

  &>p {
    padding: 12.5px 0;
  }

  &>p>span {
    color: $font-gold;
  }

  &>h2+p {
    margin-top: 62.5px;
  }
}

.picture-explore__slider {
  position: relative;
  margin: 10px 0 0 60px;

  & svg {
    position: absolute;
    left: 420px;
    cursor: pointer;
    z-index: 9;
  }
}

.picture-explore__image {
  height: 700px;
  overflow: hidden;
  position: absolute;

  &:last-child {
    width: 440px;
  }
}

//VIDEO JOURNEY
.video-journey {
  min-height: 1010px;
}

.video-journey__description {
  display: flex;
  justify-content: space-between;

  &>.heading {
    padding: 0;
  }

  &>h2 {
    padding-top: 0;
    border: none;
  }

  &>p {
    max-width: 720px;
  }
}

.player {
  position: relative;
  margin-top: 70px;
}

.player__preview iframe {
  width: 100%;
  height: 650px;
  display: block;
}

.player__controls {
  display: flex;
  align-items: center;
  background-color: $bg-dark;
  min-height: 85px;
  padding-left: 30px;

  &>button:not(.player__stop):not(.player__play) {
    margin-left: 45px;
  }

  &>input {
    margin: 0 0 0 45px;
  }

  &>button:not(.player__volume):hover .fill {
    fill: $font-gold;
    opacity: 0.5;
  }
}

.player__play {
  position: absolute;
  top: calc(50% - 153px);
  left: calc(50% - 116px);
  background-color: transparent;
}

.player__range {
  background: linear-gradient(to right, #710707 0%, #710707 53%, #C4C4C4 40%, #C4C4C4 100%);
  height: 8px;
  width: 930px;
  outline: none;
  transition: background 450ms ease-in;
  cursor: pointer;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #fff;
  }
}

.volume__range {
  width: 155px;
  background: linear-gradient(to right, #710707 0%, #710707 42%, #C4C4C4 40%, #C4C4C4 100%);
}

.video-journey__slider {
  position: relative;
  overflow: hidden;
  min-height: 260px;
}

.video-journey__slider-container {
  display: flex;
  column-gap: 42px;
  margin-top: 40px;
  position: absolute;
  left: calc(-452px - 42px);
}

.video-journey__slider-item {
  position: relative;
  cursor: pointer;

  & iframe {
    width: 452px;
    height: 254px;
  }
}

.video-journey__item-heading {
  &::before {
    position: absolute;
    left: 10px;
    top: 15px;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(../assets/icons/video_heading.png);
    border-radius: 50%;
  }
}

.video-journey__slider-navigation {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  &>button {
    cursor: pointer;
  }

  &>button:last-child {
    margin-left: 20px;
  }

  &>svg:hover,
  button:hover .fill {
    fill: $dark-red;
  }
}

.video-journey__pagination {
  display: flex;
}

.video-journey__pagination-item {
  width: 12px;
  height: 12px;
  background-color: #999;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $dark-red;
  }
}

.video-journey__item-active {
  background-color: #333;
}

//ART GALLERY
.art-gallery {
  position: relative;
  height: 2200px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 11%, rgba(0, 0, 0, 0.6699054621848739) 80%, rgba(0, 212, 255, 0) 100%);
  }
}

.art-gallery .heading {
  color: white;
  border: none;
}

.art-gallery__container {
  margin-top: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;

  & img {
    max-width: 456px;
    transition: transform 1s ease-in-out;
  }

  & img:hover {
    transform: scale(1.05);
  }
}


//BUY TICKETS
.buy-tickets {
  min-height: 895px;

  & button {
    display: inline-block;
  }
}

.buy-tickets__wrapper {
  display: flex;
  margin-top: 75px;
}

.buy-tickets__order {
  display: inherit;
  min-width: 720px;

  & p {
    font: 700 1.75rem "Roboto", sans-serif;
    margin-bottom: 25px;
  }

  & span,
  input[type="number"],
  .buy-tickets__amount>button {
    font: 300 1.375rem "Roboto", sans-serif;
  }
}

.buy-tickets__type {
  display: inherit;
  flex-direction: column;
  padding-left: 63px;

  & input[type="radio"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }

  &>label {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
  }

  & span {
    margin-left: 37px;
  }

  & span:before {
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: solid 2px black;
    top: 5px;
    left: 0;
  }

  & span:after {
    content: '';
    position: absolute;
    display: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    top: 10px;
    left: 5px;
  }

  & input:checked~span:after {
    display: block;
  }

}

.buy-tickets__amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;

  &>p:first-child {
    margin-bottom: 15px;
  }

  &>button {
    width: 175px;
    height: 50px;
    background: black;
    color: white;
    margin-top: 27px;
    letter-spacing: 2px;
    transition: background 0.5s ease-in-out;
  }

  &>button:hover {
    background: $font-gold;
  }
}

.buy-tickets__description {
  margin-top: 10px;

  &>span {
    display: block;
  }

  &+p {
    letter-spacing: 1.65px;
    margin-top: 50px;
  }

  &+p>span {
    font-size: inherit;
    font-weight: inherit;
  }
}

.buy-tickets__number {
  position: relative;
  border: solid black 3px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  padding: 0 14px;

  &>button {
    font: 2rem "Roboto", sans-serif;
  }

  &>input {
    text-align: center;
    background: inherit;
    border: none;
    outline: none;
    width: 45px;
    cursor: default;
    position: absolute;
    left: calc(50% - 20px);
  }
}

.buy-tickets__paralax {
  margin-top: 75px;
  width: 100%;
  height: 400px;
  background-image: url(../assets/pictures/parallax.webp);
  background-size: cover;
  background-attachment: fixed;
}

//CONTACTS
.contacts {
  padding-top: 0;

  .heading {
    color: $font-gold;
  }
}

.contacts__wrapper {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}

.contacts__description {
  max-width: 282px;

  &>h4 {
    font: 500 1.75rem "Roboto", sans-serif;
    margin-bottom: 50px
  }

  &>p {
    font: 300 1.375rem "Roboto", sans-serif;
  }
}

//FOOTER
.footer {
  min-height: 392px;
  background-color: $bg-dark;
  color: white;
  text-transform: capitalize;
  font: 100 1.375rem /50px "Roboto", sans-serif;
  letter-spacing: 2px;
  padding-top: 75px;

  & .main-heading {
    margin: 0;
  }

  & .content-wrapper {
    display: flex;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 150px;
  margin: 0 0 0 122px;
  column-gap: 170px;
  row-gap: 25px;
  min-width: 363px;
  min-height: 150px;

  &>li {
    transition: color .8s ease-in-out;
    line-height: 28px;
  }
}

.footer__soci {
  display: flex;
  margin-left: 394px;
  margin-top: 85px;

  &>li {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: solid 1px #666666;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &>li:not(:first-child) {
    margin-left: 25px;
  }

  &>li:hover .fill {
    fill: $font-gold;
  }

  &>li:hover {
    border-color: $font-gold
  }
}

.footer-rss {
  display: flex;
  align-items: center;
  border-top: solid 3px #333;
  min-height: 125px;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;

  & span {
    transition: color 1s ease-in-out;
  }

  & span:nth-child(2) {
    margin-left: 70px;
  }

  & span:not(:first-child):hover {
    color: $font-gold;
  }
}

//BOOKING FORM
.form-wrapper {
  position: fixed;
  transform: translate(-200vh);
  display: none;
  transition: transform 1s ease-in-out;
  z-index: 999;
  top: 0;
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.booking {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  font: 1.125rem "Roboto", sans-serif;
  text-transform: capitalize;
  min-height: 100vh;
  width: 100vw;

  &>.content-wrapper {
    position: relative;
    width: 100%;
    min-height: 845px;
    background-color: rgba(255, 255, 255, 1);
    padding: 90px 235px;
    display: flex;
  }

  &:after {
    content: calc(2 + 2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
  }
}

.booking__info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 663px;

  & input,
  select {
    height: 45px;
    margin-top: 20px;
    padding: 0 15px;
    border: solid 1px #030303;
  }

  & form {
    display: flex;
    align-items: flex-start;
  }
}

.booking__logo .fill {
  fill: $font-gold;
}

.booking__heading {
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  letter-spacing: 0;
  font-size: 3.125rem;
  color: $font-gold;
}

.booking__afterheading {
  margin-top: 5px;
  padding: 10px 0;
  color: $dark-red;
  border-bottom: solid 3px $dark-red;
}

.booking__form-datatime {
  margin-top: 40px;
  display: flex;
  column-gap: 20px;

  &~select {
    width: 100%;
  }

  &~input {
    width: 100%;
  }

  & input {
    width: 190px;
  }
}

.booking__ticket-amount {
  padding: 5px 15px 15px;
  border: solid 1px #030303;
  margin-top: 20px;
  max-height: 135px;
}

.booking__ticket-heading {
  font: 1.125rem "Forum", sans-serif;
  color: $font-gold;
  padding: 5px 0;
  border-bottom: solid 2px $dark-red;
}

.booking__ticket-counter {
  margin-top: 15px;

  &>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &>div:last-child {
    margin-top: 20px;
  }

  & input {
    text-align: center;
    width: 45px;
    height: 25px;
    margin: 0;
    padding: 0 0 0 9px;
  }

  & input:focus {
    outline: none;
  }
}

.booking__basic-counter,
.booking__senior-counter {
  display: flex;
  align-items: center;

  & button {
    width: 35px;
    height: 25px;
    color: white;
    background-color: black;
  }
}

.booking__close {
  position: absolute;
  top: -45px;
  right: -570px;
  cursor: pointer;
}

.form__order {
  left: 440px;
  width: 530px;
  height: 663px;
  border: solid 1px #030303;
  margin-left: 40px;
}

.form__wrapper {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  min-width: 530px;

  & img {
    object-fit: contain;
  }
}

.form__order-description {
  & p {
    margin: 5px 0 0 15px;
    font-weight: 300;
  }
}

.form__order-description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form__order-heading {
  font-weight: 500;
  font-size: 2rem;
  color: #272727;
}

.form__order-afterheading {
  font-weight: 500;
  font-size: 1.375rem;
  color: $dark-red;
  padding: 5px 0;
}

.form__order-objects {
  margin-top: 20px;
  font-size: 1.375rem;
  padding-bottom: 10px;
  border-bottom: solid 2px $dark-red;
}

.form__ticket-payment {
  display: flex;
  align-items: center;

  & span:last-child {
    flex-grow: 1;
    text-align: end;
  }
}

.form__basic-amount,
.form__senior-amount {
  width: 32px;
  height: 20px;
  background-color: black;
  color: #A4A4A3;
  text-align: center;
  font-size: 1.125rem;
  border-radius: 5px;

  &+span {
    margin-left: 10px;
  }
}

.form__card {
  width: 470px;
  height: 241px;
  margin-top: 10px;
  margin-bottom: 5px;
  font: 0.75rem "Roboto", sans-serif;
  position: relative;
}

.form__card-upper,
.form__card-lower {
  width: 360px;
  height: 211px;
  padding: 15px 20px;

  & input {
    height: 35px;
    margin-top: 5px;
    border: none;
  }
}

.form__card-upper {
  background-image: url(../assets/pictures/form/2.jpg);
  z-index: 50;
  position: relative;
}

.form__card-input:not(:first-child) {
  margin-top: 10px;
}

.form__card-input:not(:last-child) {
  width: 215px;

  & input {
    width: 100%;
  }

  &>div {
    display: flex;
    column-gap: 15px;
  }
}

.form__card-input:last-child input {
  width: 100%;
}

.form__order-total {
  margin-top: 10px;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;

  &>span {
    font-weight: 500;
  }
}

.form__card-lower {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -180px;
  right: -110px;
  background-image: url(../assets/pictures/form/1.jpg);
  z-index: 4;


  &::before {
    content: 'CVC/CVV';
    position: absolute;
    z-index: 5;
    top: 75px;
    right: 35px;
    font: 0.75rem "Roboto", sans-serif;
  }

  &::after {
    content: 'The last 3 or 4 digits on back of the card';
    max-width: 52px;
    position: absolute;
    z-index: 5;
    right: 31px;
    top: 133px;
    font: 0.75rem "Roboto", sans-serif;
    text-transform: none;
  }

  &>input {
    margin-top: 80px;
    width: 75px;
  }
}

.form__submit {
  font-size: 1.375rem;
  background: $dark-red;
  color: white;
  width: 220px;
  height: 45px;
  text-transform: capitalize;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 25px;
}

//MEDIA
@media(max-width: 1439px) {

  //GENERAL
  .content-wrapper {
    max-width: 984px;
  }

  .heading {
    font-size: 3.125rem;
    padding-bottom: 20px;
    line-height: 75px;
  }

  .section {
    padding: 60px 0;
  }

  //HEADER
  .header {
    min-height: 130px;
    justify-content: space-between;

    & .footer__soci {
      display: flex;
      justify-content: center;
      margin: 35px 0 0;
    }

    & .footer__soci>li:last-child {
      margin-right: 0;
    }
  }

  .header__nav {
    position: absolute;
    display: none;
    top: calc(100% + 20px);
    transform: translate(-500%);
    transition: transform 1s ease-in-out;
    margin: 0;
    flex-direction: column;
    z-index: 999;
    margin-left: 30px;
    font-size: 1.25rem;
  }

  .header__nav-item {
    position: relative;
    padding: 0;

    &::after {
      content: '>';
      left: 110%;
      position: absolute;
    }
  }

  .header__burger-container {
    display: block;

    &:hover .fill {
      fill: $font-gold;
    }
  }

  .header__burger-gallery {
    flex-direction: column;

    &>div {
      padding-bottom: 35px;
      border-bottom: solid 1px white;
    }
  }

  //WELCOME
  .welcome {
    min-height: 585px;
  }

  .welcome__description {
    padding-top: 50px;

    &>span {
      margin-top: 5px;
      font-size: 1.5rem;
    }

    &>.heading {
      line-height: 90px;
    }
  }

  .welcome__slider {
    width: 700px;
    height: 525px;
    left: calc(100% - 700px);
  }

  .welcome__slider-container {
    left: -700px;
  }

  .welcome__slider-item {
    width: 700px;
    height: 525px;
    background-size: contain;
  }

  .welcome__slider-number {
    font-size: 1.25rem;
  }

  .welcome__slider-position {
    width: 12px;
    height: 12px;

    &:first-child {
      margin-left: 0px;
    }
  }

  .welcome__button {
    width: 300px;
    height: 60px;
    font-size: 1.25rem;
    margin-top: 50px;
  }

  .welcome__slider-controls {
    width: 700px;
    top: calc(525px - 60px);
    left: calc(100% - 700px);
    justify-content: flex-end;
  }

  .welcome__slider-current-position {
    margin-left: 53px;
  }

  .welcome__slider-buttons {
    margin-left: 37px;
  }

  .welcome__slider-button:last-child {
    margin-left: 5px;
  }

  //VIRTUAL TOUR
  .virtual-tour__gallery {
    padding-top: 60px;
    row-gap: 60px;
    column-gap: 108px;
  }

  .virtual-tour__card {
    & img {
      max-width: 330px;
      max-height: 215px;
    }

    &>h3 {
      font-size: 1.75rem;
      letter-spacing: 3px;
      padding: 27px 0px 10px;
    }

    &:hover .virtual-tour__card-description::before {
      width: 100%;
    }
  }

  .virtual-tour__card-description {
    border: none;
    position: relative;

    &>span {
      font-size: 1.25rem;
    }

    &>span:last-child {
      font-size: 1rem;
    }

    &::before {
      content: '';
      border-bottom: $dark-red solid 2px;
      position: absolute;
      top: 3px;
      width: 150px;
      transition: width 1s ease-in-out;
    }
  }

  //PICTURE EXPLORE
  .picture-explore__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .picture-explore__description {
    max-width: 100%;

    &>.description:last-child {
      display: none;
    }

    &>h2+p {
      margin-top: 60px;
    }

    &>p {
      padding: 0;
      font-size: 1.25rem;
    }
  }

  .picture-explore__slider {
    margin: 60px 0 0;
  }

  //VIDEO JOURNEY
  .video-journey {
    min-height: 1000px;
  }

  .video-journey__description {
    &>.description {
      display: none;
    }
  }

  .player {
    margin-top: 40px;
  }

  .player__preview iframe {
    height: 444px;
  }

  .player__controls {
    min-height: 60px;
    padding: 0 40px;

    &>input {
      margin-left: 30px;
    }

    &>button:not(.player__stop):not(.player__play) {
      margin-left: 30px;
    }
  }

  .player__range {
    height: 5px;
  }

  .player__play {
    top: calc(50% - 108px);
    left: calc(50% - 82px);

    &>svg {
      width: 152px;
      height: 152px;
    }
  }

  .player__stop>svg {
    width: 23px;
    height: 30px;
  }

  .player__volume>svg {
    width: 26px;
    height: 20px;
  }

  .player__fullscreen>svg {
    width: 26px;
    height: 26px;
  }

  .video-journey__slider-item iframe {
    width: 300px;
    height: 170px;
  }

  .video-journey__slider-navigation {
    margin-top: 35px;
  }

  .video-journey__item-heading::after {
    max-width: 185px;
  }

  //ART GALLERY
  .art-gallery {
    height: 1460px;
  }

  .art-gallery__container {
    margin-top: 40px;

    &>img {
      width: 304px;
    }
  }

  //BUY TICKETS
  .buy-tickets__wrapper {
    margin-top: 60px;
    max-height: 440px;

    &>img {
      object-fit: cover;
      width: 700px;
    }
  }

  .buy-tickets__order {
    min-width: 270px;
    justify-content: flex-end;
    margin-left: 34px;
  }

  .buy-tickets__type {
    display: none;
  }

  .buy-tickets__amount {
    max-width: 175px;
    align-items: flex-start;
    margin-right: 50px;

    &>p:first-child {
      margin-bottom: 0;
    }

    &>button {
      margin-top: 70px;
    }
  }

  .buy-tickets__description {
    margin-top: 25px;

    &+p {
      margin-top: 18px;
      margin-bottom: 0;
    }

    &+p>span {
      margin-left: 15px;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
    }
  }

  .buy-tickets__number {
    width: 175px;
  }

  .buy-tickets__paralax {
    margin-top: 60px;
    background-position: center center;
  }

  .contacts {
    padding-top: 0;
  }

  //CONTACTS
  .contacts__wrapper {
    padding-top: 60px;

    &>img {
      width: 694px;
      height: 454px;
      margin-left: 15px;
    }
  }

  .contacts__description {
    &>h4 {
      font-size: 1.5rem;
      margin-bottom: 35px;
    }

    &>p {
      font-size: 1.25rem;
      margin-top: 15px;
    }
  }

  //footer
  .footer {
    padding-top: 65px;
    min-height: 368px;

    & .header__logo {
      margin-top: -10px;
      width: 201px;
    }

    & .main-heading {
      padding: 0 0 0 20px;
    }
  }

  .footer__nav {
    margin-left: 39px;
    column-gap: 67px;
  }

  .footer__soci {
    margin-left: 41px;
    margin-top: 81px;
  }

  .footer-rss {
    margin-top: 30px;
    padding: 0 20px;
    justify-content: space-between
  }
}

.booking {
  max-width: 100vw;

  &>.content-wrapper {
    justify-content: center;
  }

  .booking__heading {
    line-height: 55px;
    padding-bottom: 0;
  }

  .booking__form-datatime {
    margin-top: 40px;
  }
}



@media(max-width: 1023px) {

  //GENERAL
  .content-wrapper {
    max-width: 728px;
  }

  .heading {
    font-size: 2.5rem;
    line-height: 60px;
  }

  .section {
    padding: 40px 0;
  }

  //HEADER
  .header {
    min-height: 110px;
  }

  .header__nav {
    top: calc(100% + 25px);
  }

  //WELCOME
  .welcome {
    min-height: 861px;
  }

  .welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome__description {
    padding-top: 0;
    text-align: center;

    &>.heading {
      line-height: 60px;
    }

    &>span {
      font-size: 1.25rem;
    }
  }

  .welcome__button {
    display: none;
  }

  .welcome__slider {
    position: relative;
    left: 0;
    margin-top: 50px;
    width: 728px;
    height: 546px;
  }

  .welcome__slider-container {
    left: -728px
  }

  .welcome__slider-item {
    width: 728px;
    height: 546px;

    &::after {
      display: none;
    }
  }

  .welcome__slider-controls {
    position: initial;
    max-height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  //VIRTUAL TOUR
  .virtual-tour {
    min-height: 1225px;
  }

  .virtual-tour__gallery {
    padding-top: 40px;
    column-gap: 56px;
    row-gap: 40px;
  }

  .virtual-tour__card {
    & img {
      width: 280px;
      height: 180px;
    }

    & h3 {
      font-size: 1.375rem;
    }
  }

  .virtual-tour__card-description {
    width: 100%;

    &>span {
      font-size: 1.125rem;
    }

    &>span:last-child {
      font-size: 1rem;
    }

    &::before {
      top: -3px;
    }
  }

  //PICTURE EXPLORE
  .picture-explore__description {
    width: 100%;

    &>p {
      display: none;
    }

    &>.heading {
      width: 100%;
    }
  }

  .picture-explore__slider {
    margin-top: 40px;
  }

  .picture-explore__image {
    height: 705px;

    &:last-child {
      width: 287px;
    }
  }

  //VIDEO JOURNEY
  .video-journey {
    min-height: 837px;
  }

  .player {
    margin-top: 20px;
  }

  .player__play {
    top: calc(50% - 71px);
    left: calc(50% - 47px);

    &>svg {
      width: 80px;
      height: 80px;
    }
  }

  .player__preview iframe {
    height: 329px;
  }

  .video-journey__slider-container {
    column-gap: 20px;
    margin-top: 20px;
    left: calc(-354px - 20px);

    &>.video-journey__slider-item:last-child {
      display: none;
    }
  }

  .video-journey__slider-item iframe {
    width: 354px;
    height: 199px;
  }

  .player__controls {
    padding: 0 30px;
    min-height: 53px;

    &>input {
      margin: 0;
    }

    & .volume__range {
      margin-left: 35px;
      width: 486px;
    }
  }

  .player__duration-range {
    position: absolute;
    margin: 0;
    top: calc(100% - 58px);
    left: 0;
    width: 100%;
    height: 5px;
  }

  .video-journey__slider-navigation {
    margin-top: 20px;
  }

  .video-journey__pagination-item {
    width: 10px;
    height: 10px;
  }

  //ART GALLERY
  .art-gallery {
    height: 1220px;
  }

  .art-gallery__container {
    column-gap: 24px;

    &>img {
      width: 352px;
    }
  }

  //BUY TICKETS
  .buy-tickets__wrapper {
    margin-top: 40px;

    &>img {
      width: 444px;
      height: 340px;
    }
  }

  .buy-tickets__order {
    margin-left: 5px;
  }

  .buy-tickets__description {
    margin-top: 35px;

    &+p {
      margin-top: 35px;
    }
  }

  .buy-tickets__amount {
    margin-right: 40px;

    &>button {
      margin-top: 40px;
    }
  }

  .buy-tickets__number {
    margin-top: 5px;
  }

  .buy-tickets__paralax {
    margin-top: 40px;
    height: 300px;
  }

  //CONTACTS
  .contacts {
    padding-top: 0;
    min-height: 885px;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    &>img {
      width: 728px;
      height: 476px;
      margin: 40px 0 0 0;
      object-fit: none;
      object-position: center center;
    }
  }

  .contacts__description {
    &>h4 {
      margin-bottom: 40px;
      font-size: 1.25rem;
    }

    &>p {
      font-size: 1.125rem;
    }
  }

  //FOOTER
  .footer {
    min-height: 411px;
    padding-top: 55px;
  }

  .footer-upper>.content-wrapper {
    flex-wrap: wrap;
  }

  .footer__nav {
    font-size: 1.125rem;
    margin-left: 97px;
    column-gap: 160px;
    row-gap: 18px;

  }

  .footer__soci {
    margin: 20px 0 0 0;
    width: 100%;
    justify-content: flex-end;

    &>li:last-child {
      margin-right: 90px;
    }
  }

  //FORM
  .form-wrapper {
    justify-content: center;
  }

  .booking {
    position: relative;

    &>.content-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }

  .booking__info {
    min-width: 530px;
  }

  .form__order {
    margin-left: 0;
    margin-top: 50px;
    height: unset;
  }

  .booking__heading {
    font-size: 50px;
  }

  .booking__close {
    right: 0;
  }

  .booking {
    & .booking__form-datatime {
      justify-content: space-between;
      margin-top: 20px;
    }

    &>.content-wrapper {
      width: 590px;
    }
  }

  .booking__form-datatime input {
    width: 251px;
  }
}

@media(max-width: 767px) {

  //GENERAL
  .content-wrapper {
    max-width: 380px;
  }

  .heading {
    font-size: 1.75rem;
    line-height: 40px;
  }

  //HEADER
  .header {
    min-height: 90px;
  }

  .header__logo {
    &>img {
      width: 29px;
      height: 16px;
    }

    &>.main-heading {
      font-size: 1rem;
    }
  }

  .header__burger-gallery {
    width: auto;

    &>div {
      column-gap: 12px;
      padding-bottom: 20px;
      border-bottom: solid 1px white;
    }

    & img {
      width: 95px;
      height: 95px;
      object-fit: cover;
    }
  }

  //WELCOME
  .welcome {
    min-height: 544px;
  }

  .welcome__description {

    &>.heading {
      line-height: 40px;
      padding-bottom: 25px;
    }

    &>span {
      font-size: 1rem;
    }
  }

  .welcome__slider,
  .welcome__slider-item {
    width: 380px;
    height: 285px;
  }

  .welcome__slider-container {
    left: -380px
  }

  .welcome__slider-position {
    width: 7px;
    height: 7px;
    margin-left: 10px;
  }

  .welcome__slider-button>svg {
    width: 22px;
  }

  .welcome__slider-number {
    font-size: 1rem;
    padding-left: 5px;

    &:first-child {
      padding-right: 5px;
      padding-left: 0;
    }
  }

  .welcome__slider-buttons {
    margin-left: 10px;
  }

  .welcome__slider-current-position {
    margin-left: 33px;
  }

  .welcome__slider-controls {
    padding: 0;
    max-height: 80px;
  }

  //VIRTUAL TOUR
  .virtual-tour {
    min-height: 2153px;
  }

  .virtual-tour__card {
    &>h3 {
      font-size: 1.125rem;
      letter-spacing: 5px;
    }
  }

  .virtual-tour__card-description {
    &>span {
      font-size: 1rem;
    }
  }

  //EXPLORE
  .picture-explore {
    min-height: 551px;
  }

  .picture-explore__slider {
    margin-top: 40px;

    &>svg {
      height: 368px;
      left: 210px;
    }
  }

  .picture-explore__image {
    width: 230px;
    height: 368px;
    background-size: cover;
    background-position: left center;

    &:last-child {
      width: 150px;
    }
  }

  //VIDEO JOURNEY
  .video-journey {
    min-height: 551px;
  }

  .player__preview iframe {
    height: 172px;
  }

  .player__controls {
    min-height: 50px;
    padding: 0 20px;

    & .volume__range {
      margin-left: 30px;
      width: 200px;
    }

    &>button:not(.player__stop):not(.player__play) {
      margin-left: 17px;
    }
  }

  .player__range {
    height: 4px;
  }

  .player__duration-range {
    top: calc(100% - 54px);
  }

  .player__stop>svg {
    width: 13px;
    height: 17px;
  }

  .player__play {
    top: calc(50% - 58px);
    left: calc(50% - 30px);

    &>svg {
      width: 50px;
      height: 50px;
    }
  }

  .player__volume>svg {
    width: 18px;
    height: 14px;
  }

  .player__fullscreen>svg {
    width: 16px;
    height: 16px;
  }

  .video-journey__item-heading::after {
    max-width: 100px;
  }

  .video-journey__slider-container {
    margin-top: 40px;
    left: calc(-180px - 20px);
  }

  .video-journey__slider-item iframe {
    width: 180px;
    height: 101px;
  }

  .video-journey__slider-navigation {
    margin-top: 40px;

    & svg {
      width: 7px;
      height: 8px;
    }
  }

  .video-journey__item-dropdown {
    display: none;
  }

  .video-journey__pagination-item {
    width: 8px;
    height: 8px;
  }

  //GALLERY
  .art-gallery {
    height: 757px;
  }

  .art-gallery__container {
    &>img {
      width: 178px;
    }
  }

  //BUY TICKETS
  .buy-tickets {
    min-height: 1099px;
  }

  .buy-tickets__wrapper {
    flex-direction: column;
    max-height: unset;

    &>img {
      width: 380px;
      height: 160px;
    }
  }

  .buy-tickets__order {
    justify-content: center;
    margin-top: 40px;

    & p {
      width: 100%;
      text-align: center;
      font-size: 1rem;
    }

    & span,
    .buy-tickets__order input[type="number"],
    .buy-tickets__order .buy-tickets__amount>button {
      font-size: 1rem;
    }
  }

  .buy-tickets__description {
    margin-top: 20px;

    &+p>span {
      margin-left: 0px;
    }

    &+p {
      letter-spacing: 0;
    }
  }

  .buy-tickets__amount {
    margin: 0;
  }

  .buy-tickets__number {
    margin-top: 15px;
  }

  //CONTACTS
  .contacts {
    min-height: 590px;
  }

  .contacts__wrapper {
    &>img {
      width: 380px;
      height: 248px;
      margin-top: 36px;
    }
  }

  .contacts__description {
    &>h4 {
      font-size: 1rem;
    }

    &>p {
      font-size: 1rem;
    }
  }

  //FOOTER
  .footer {
    padding-top: 40px;
  }

  .footer__nav {
    margin: 15px 0 0 0;
    column-gap: 91px;
    row-gap: 19px;
    min-height: unset;
    max-height: 100px;

    &>li {
      font-size: 1rem;
      letter-spacing: 2px;
    }
  }

  .footer__soci {
    justify-content: center;
    width: 100%;
    margin-top: 40px;

    &>li:not(:first-child) {
      margin-left: 5px;
    }

    &>li:last-child {
      margin: 0;
    }
  }

  .footer-rss>span:first-child+span {
    display: none;
  }

  //FORM
  .booking {
    & .booking__form-datatime {
      flex-direction: column;
    }
  }

  .booking__heading {
    font-size: 2rem;
  }

  .booking__form-datatime input {
    width: 100%;
  }

  .booking__info {
    max-height: unset;
  }

  .form__card-lower {
    top: 0;
    right: 0;
    margin-top: 25px;
  }

  .form__card {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .booking__info,
  .form__wrapper,
  .form__order,
  .form__card {
    min-width: 360px;
    width: 360px;
  }

  .form__card-lower,
  .form__card-upper {
    width: 330px;
    background-size: contain;
  }

  .form__order-description {
    padding: 0;
  }

  .form__order {
    margin-top: 50px;
  }

  .form__wrapper {
    padding: 25px 15px;
  }

  .form__card {
    margin-top: 15px;
    align-items: unset;
  }

  .form__submit {
    margin-top: 40px;
  }
}

@media (max-width: 419px) {

  //GENERAL
  .content-wrapper {
    max-width: 300px;
  }

  //WELCOME
  .welcome__slider {
    width: 280px;
    height: 220px;
  }

  .welcome__slider-container {
    left: -280px
  }

  .welcome__slider-item {
    width: 280px;
    height: 220px;
  }

  //EXPLORE
  .picture-explore__slider {
    width: 300px;
  }

  .picture-explore__image {
    width: 50%;

    &:last-child {
      width: 50%;
    }
  }

  .buy-tickets__wrapper>img {
    width: 300px;
  }

  .contacts__wrapper>img {
    width: 300px;
  }

  .footer__nav {
    align-items: center;
    max-height: unset;
    min-width: 300px;
  }

  .video-journey__slider-container {
    justify-content: center;
  }

  .video-journey__slider-item:nth-child(2) {
    display: none;
  }
}